# Ignore all zip files
*.zip

# Ignore all Excel files
*.xlsx

# Ignore all CSV files
*.csv

# Ignore all text files
*.txt

# Ignore data, input, output, testing, etc.
data/
input/
output/
raw/
parser_output/
test/

# Debugging files
__pycache__/
*/__pycache__/